<div class="flex-container">
  <div class="login-container" [ngClass]="{ 'with-loading' : loading }">
    <form [formGroup]="regForm" (ngSubmit)="onRegistration()">
      <div class="icon-container">
        <i class="material-icons" aria-hidden="true">accessibility_new</i>
      </div>
      <h2>Create your account</h2>
      <div class="form-group">
        <label for="">Name</label>
        <input #name type="text" class="text-field" formControlName="name" [ngClass]="{ 'error' : submitted && showNameError }" id="name" autofocus>
        <div class="error" [ngClass]="{ 'show' : submitted && showNameError }" id="nameError" role="alert" aria-live="assertive">
          <i class="material-icons">error</i> Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input #email type="email" class="text-field" formControlName="email" [ngClass]="{ 'error' : submitted && showEmailError }" id="email">
        <div class="error" [ngClass]="{ 'show' : submitted && showEmailError }" id="emailError" role="alert" aria-live="assertive">
          <i class="material-icons">error</i> {{emailErrMsg}}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #password type="password" class="text-field" formControlName="password" [ngClass]="{ 'error' : showPasswordError }" id="password">
        <div class="error" [ngClass]="{ 'show' : submitted && showPasswordError }" id="passwordError" role="alert" aria-live="assertive">
          <i class="material-icons">error</i> Password must contain at least 5 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Password confirm</label>
        <input #passwordConfirm type="password" class="text-field" formControlName="passwordConfirm" [ngClass]="{ 'error' : showPasswordConfError }" id="passwordConfirm">
        <div class="error" [ngClass]="{ 'show' : submitted && showPasswordConfError }" id="passwordConfirmError" role="alert" aria-live="assertive">
          <i class="material-icons">error</i> {{passwordConfMsg}}
        </div>
      </div>
      <div class="login-error" *ngIf="errorMsg" aria-live="assertive">
        <i class="material-icons">error</i> {{errorMsg}}
      </div>
      <div class="btns-container">
        <div class="item right">
          <button class="btn btn-primary">Create</button>
        </div>
        <div class="item left">
          <a routerLink="/login" class="btn btn-transparent btn-primary" tabindex="0">Sign in instead</a>
        </div>
      </div>
    </form>
  </div>
</div>
