<div class="card clickable" tabindex="0" [attr.aria-label]="post.title" (click)="redirectToPost($event, post.id)" 
    (keydown)="redirectToPost($event, post.id)">
  <h4>{{post.userName}} - {{post.dateOfModification | date:'MMM d, yyyy, h:mm a'}}</h4>
  <h3>{{post.title}}</h3>
  <span *ngIf="post.comments.length > 0">{{post.comments.length}} times commented.</span>
  <span *ngIf="post.comments.length == 0">Not yet commented by any user.</span>
  <div class="content-placeholder">
    <ng-content></ng-content>
  </div>
</div>
