<div class="flex-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2>Přihlášení</h2>
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" class="text-field" formControlName="email" id="email" placeholder="email@mail.com">
    </div>
    <div class="form-field">
      <label for="password">Heslo</label>
      <input type="password" class="text-field" formControlName="password" id="password">
    </div>
    <div class="btns-container">
      <div class="item">
        <a class="btn btn-transparent btn-primary" tabindex="0">Registrovat</a>
      </div>
      <div class="item right">
        <button class="btn btn-primary">Přihlásit</button>
      </div>
    </div>
  </form>
</div>
