<div class="flex-container">
  <div class="login-container" [ngClass]="{ 'with-loading' : loading }">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="icon-container">
        <i class="material-icons">accessibility_new</i>
      </div>
      <h2>Sign in</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input #email type="email" class="text-field" formControlName="email" [ngClass]="{ 'error' : submitted && showEmailError }" id="email" autofocus>
        <div class="error" [ngClass]="{ 'show' : submitted && showEmailError }" id="emailError" role="alert" aria-live="assertive">
          <i class="material-icons">error</i> {{emailErrMsg}}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #password type="password" class="text-field" formControlName="password" [ngClass]="{ 'error' : submitted && formControls.password.errors }" id="password">
        <div class="error" [ngClass]="{ 'show' : submitted && formControls.password.errors }" id="pwError" role="alert" aria-live="assertive">
          <i class="material-icons">error</i> Password must contain at least 5 characters.
        </div>
      </div>
      <div class="login-error" *ngIf="errorMsg" aria-live="assertive">
        <i class="material-icons">error</i> {{errorMsg}}
      </div>
      <div class="btns-container">
        <div class="item right">
          <button class="btn btn-primary">Log in</button>
        </div>
        <div class="item left">
          <a routerLink="/registration" class="btn btn-transparent btn-primary" tabindex="0">Create account</a>
        </div>
      </div>
    </form>
  </div>
</div>
