<div class="container">
  <div class="flex-item">
    <input [(ngModel)]="postTitle" (ngModelChange)="postTitleChange()" class="editable-title" type="text" aria-label="Post title" placeholder="Post title">
  </div>
  <div class="flex-item posts-btns">
    <button #btnSaveAndClose class="btn btn-blue" id="btnSaveAndClose" (click)="savePost(true)" disabled>
      <i class="material-icons" aria-hidden="true">save</i>Save and close
    </button>
    <button #btnSave class="btn btn-blue" id="btnSave" (click)="savePost(false)" disabled>
      <i class="material-icons" aria-hidden="true">sync</i>Save
    </button>
    <button #deleteBtn class="btn btn-danger" (click)="deletePost()">
      <i class="material-icons" aria-hidden="true">delete</i>Delete
    </button>
  </div>
  <div #toolbar class="flex-item editor-btns">
    <div class="btns-section">
      <button (click)="doEditorCommand('undo')" class="icon-button">
        <i class="material-icons">undo</i>
      </button>
      <button (click)="doEditorCommand('redo')" class="icon-button">
        <i class="material-icons">redo</i>
      </button>
    </div>
    <div class="btns-section">
      <button (click)="doEditorCommand('bold')" class="icon-button">
        <i class="material-icons">format_bold</i>
      </button>
      <button (click)="doEditorCommand('italic')" class="icon-button">
        <i class="material-icons">format_italic</i>
      </button>
      <button (click)="doEditorCommand('underline')" class="icon-button">
        <i class="material-icons">format_underlined</i>
      </button>
    </div>
    <div class="btns-section">
      <select (change)="doEditorCommand('fontName', $event.target.value)" class="text-field in-wysiwyg" aria-label="Font selection">
        <option value="Arial">Arial</option>
        <option value="Comic Sans MS">Comic Sans MS</option>
        <option value="Courier">Courier</option>
        <option value="Georgia">Georgia</option>
        <option value="Roboto" selected>Roboto</option>
        <option value="Tahoma">Tahoma</option>
        <option value="Times New Roman">Times New Roman</option>
      </select>
    </div>
    <div class="btns-section">
      <select (change)="doEditorCommand('formatBlock', $event.target.value)" class="text-field in-wysiwyg" aria-label="Paragraph style selection">
        <option value="<h1>">Heading 1</option>
        <option value="<h2>">Heading 2</option>
        <option value="<h3>">Heading 3</option>
        <option value="p">Normal text</option>
      </select>
    </div>
    <div class="btns-section">
      <select (change)="doEditorCommand('fontSize', $event.target.value)" class="text-field in-wysiwyg" style="width:64px;" aria-label="Font size selection">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
    </div>
    <div class="btns-section">
      <button (click)="doEditorCommand('justifyLeft')" class="icon-button">
          <i class="material-icons">format_align_left</i>
      </button>
      <button (click)="doEditorCommand('justifyRight')" class="icon-button">
        <i class="material-icons">format_align_right</i>
      </button>
      <button (click)="doEditorCommand('justifyCenter')" class="icon-button">
        <i class="material-icons">format_align_center</i>
      </button>
      <button (click)="doEditorCommand('justifyFull')" class="icon-button">
        <i class="material-icons">format_align_justify</i>
      </button>
    </div>
    <div class="btns-section">
      <button (click)="doEditorCommand('insertUnorderedList')" class="icon-button">
        <i class="material-icons">format_list_bulleted</i>
      </button>
      <button (click)="doEditorCommand('insertOrderedList')" class="icon-button">
        <i class="material-icons">format_list_numbered</i>
      </button>
    </div>
    <div class="btns-section">
      <button (click)="createLinkCommand()" class="icon-button">
        <i class="material-icons">insert_link</i>
      </button>
    </div>
  </div>
  <div class="flex-item with-editor">
    <iframe #editor name="richTextEditor" id="richTextEditor" title="Editor window"></iframe>
  </div>
</div>
