<div class="dropdown-btn-container">
  <button #menuButton (click)="onMenuClick()" (keydown)="onMenuKeydown($event)" [class]="btnStyleClass" id="menuBtn"
      aria-label="Dropdown menu of items"   
      aria-controls="menu"
      aria-haspopup="true" 
      [attr.aria-expanded]="isMenuOpen">
    {{title}}
  </button>
  <ul #menu (keydown)="menuKeyboardAccessibility($event)" [class.opened]="isMenuOpen" 
      class="dropdown-menu" id="menu" role="menu" aria-labelledby="menuBtn">
    <li *ngFor="let item of items" role="none">
      <a #linkRef class="dropdown-item" [routerLink]="item.href" role="menuitem">{{item.label}}</a>
    </li>
  </ul>
</div>
