.padding-container {
  background-color: rgba(0, 0, 0, .04);
  min-height: 100%;
  box-sizing: border-box;
  padding-top: 16px;
}

.flex-centering {
  flex-direction: column;
}

.title {
  width: 800px;
}
.title h2 {
  margin-top: 0;
  margin-bottom: 4px;
}
.title span {
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
  font-weight: 600;
}

.article {
  width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(32, 33, 36, 0.15);
  padding: 32px;
  margin: 16px;
  background-color: rgb(255, 255, 255);
}
app-comments {
  width: 800px;
}

@media only screen and (max-width: 1100px) {
  .title,
  .article,
  app-comments {
    width: 100%;
  }
}
