<div class="padding-container">
  <article class="flex-centering" aria-label="post">
    <div class="title" *ngIf="post">
      <h2>{{post.title}}</h2>
      <span>{{post.userName}} - {{post.dateOfModification | date:'MMM d, yyyy, h:mm a'}}</span>
    </div>
    <div class="article">
      <div #article></div>
    </div>
  </article>
  <section class="flex-centering" aria-label="comments">
    <app-comments *ngIf="post" [comments]="post.comments" [postId]="post.id"></app-comments>
  </section>
</div>
