<div class="dropdown-btn-container">
  <button [class]="btnStyleClass" id="menuBtn"
      aria-label="Dropdown menu of items"   
      aria-controls="menu"
      aria-haspopup="true" 
      aria-expanded="false">
    {{title}}
  </button>
  <ul class="dropdown-menu" id="menu"
      role="menu" 
      aria-labelledby="menuBtn">
    <li role="none">
      <a class="dropdown-item" href="#" role="menuitem">Item 1 with long text</a>
    </li>
    <li role="none">
      <a class="dropdown-item" href="#" role="menuitem">Item 2</a>
    </li>
    <li role="none">
      <a class="dropdown-item" href="#" role="menuitem">Item 3 is long</a>
    </li>
    <li role="none">
      <a class="dropdown-item" href="#" role="menuitem">Item 4</a>
    </li>
  </ul>
</div>
