<div class="padding-container">
  <h2>
    Posts from other users
  </h2>

  <ui-dropdown-menu menuId="sortUsersPosts" title="Sort by date" icon="sort" btnStyleClass="btn btn-transparent without-padding">
    <ui-menu-item (click)="orderUsersPosts(true)" label="Modified (newest)"></ui-menu-item>
    <ui-menu-item (click)="orderUsersPosts(false)" label="Modified (oldest)"></ui-menu-item>
  </ui-dropdown-menu>
  <section class="cards" aria-label="Users posts">
    <ui-card *ngFor="let post of postsToView" [post]="post">
    </ui-card>
    <div *ngIf="allUserPosts && postsToView && allUserPosts.length > postsToView.length" (click)="showMorePosts($event)" (keydown)="showMorePosts($event)"
        class="card middle" tabindex="0" aria-label="Show more posts..." role="button">
      <h3 class="showmore">Show more posts...</h3>
    </div>
  </section>

</div>
