<header #header (window:resize)="onWindowResize()" class="top-app-bar">
  <div class="top-app-bar--row">
    <section class="top-app-bar--section">
      <button #menuButton (click)="menuBtnClick()" class="menu material-icons top-app-bar--navigation-icon" aria-label="menu">menu</button>
      <div class="top-app-bar--title"><i class="material-icons" aria-hidden="true">accessibility_new</i>DP A11Y Client</div>
    </section>
    <section class="top-app-bar--section align-right">
      <ui-dropdown-menu icon="person_outline" aria-label="logout" btnStyleClass="top-app-bar--navigation-icon" menuPosition="right">
        <ui-menu-item (click)="logout()" label="Logout"></ui-menu-item>
      </ui-dropdown-menu>
    </section>
  </div>  
</header>

<aside #drawer (click)="onDrawerClick($event)" (keydown)="onDrawerKeyDown($event)" class="drawer" [ngClass]="{ 'drawer--open': this.navigationUIService.getAsideNavVisible() }">
  <nav class="drawer--drawer">
    <div class="list">
      <a (click)="routerLinkClick()" class="list-item" routerLink="/home" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">home</i>Home
      </a>
      <a (click)="routerLinkClick()" class="list-item" routerLink="/users" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">people</i>Users
      </a>
      <a (click)="routerLinkClick()" class="list-item" routerLink="/posts" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">flip_to_front</i>Posts
      </a>
      <hr>
      <a (click)="routerLinkClick()" class="list-item" routerLink="/help" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">help</i>Help
      </a>
    </div>
  </nav>
</aside>
