<header #header (window:resize)="onWindowResize()" class="top-app-bar">
  <div class="top-app-bar--row">
    <section class="top-app-bar--section">
      <button #menuButton (click)="menuBtnClick()" class="menu material-icons top-app-bar--navigation-icon" aria-label="menu">menu</button>
      <div class="top-app-bar--title"><i class="material-icons">accessibility_new</i>DP A11Y Client</div>
    </section>
    <section class="top-app-bar--section align-right">
      <button (click)="logout()" class="menu material-icons top-app-bar--navigation-icon" aria-label="logout">person</button>
    </section>
  </div>  
</header>

<aside #drawer (click)="onDrawerClick($event)" (keydown)="onDrawerKeyDown($event)" class="drawer" [ngClass]="{ 'drawer--open': this.navigationUIService.getAsideNavVisible() }">
  <nav class="drawer--drawer">
    <div class="list">
      <a class="list-item" routerLink="/home" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">home</i>Home
      </a>
      <a class="list-item" routerLink="#" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">people</i>Users
      </a>
      <a class="list-item" routerLink="/editor" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">flip_to_front</i>Posts
      </a>
      <a class="list-item" routerLink="#" routerLinkActive="list-item--activated">
        <i class="material-icons list-item--graphic" aria-hidden="true">help</i>Help
      </a>
    </div>
  </nav>
</aside>
