/* Global styles of the application. */
:root {
  /* --main-color-rgb: 98, 0, 238; */
  --main-color-rgb: 36, 41, 46;
  --main-loader-color: #3b78e7;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .8);
  height: 100vh;
}

hr {
  border-top: 1px solid #e4e4e4;
  border-bottom: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-container {
  padding: 0 16px;
}

/* Buttons */
.btn {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  letter-spacing: 1.2px;
  vertical-align: middle;
  outline: 0px;
  user-select: none;
}
.btn:disabled {
  cursor: default !important;
}
.btn.btn-primary {
  background-color: rgb(var(--main-color-rgb));
  color: rgb(255, 255, 255);
}
.btn.btn-primary:hover {
  background-color: rgba(var(--main-color-rgb), .9);
}
.btn.btn-primary:focus {
  background-color: rgba(var(--main-color-rgb), .8);
}
.btn.btn-primary:disabled {
  background-color: rgba(var(--main-color-rgb), .5);
}
.btn.btn-blue {
  background-color: rgb(26, 115, 232);
  color: rgb(255, 255, 255);
}
.btn.btn-blue:hover {
  background-color: rgba(26, 115, 232, .9);
}
.btn.btn-blue:focus {
  background-color: rgba(26, 115, 232, .8);
}
.btn.btn-blue:disabled {
  background-color: rgba(26, 115, 232, .5);
}
.btn.btn-danger {
  background-color: rgb(217, 48, 37);
  color: rgb(255, 255, 255);
}
.btn.btn-danger:hover {
  background-color: rgba(217, 48, 37, .9);
}
.btn.btn-danger:focus {
  background-color: rgba(217, 48, 37, .8);
}
.btn.btn-danger:disabled {
  background-color: rgba(217, 48, 37, .5);
}
.btn .material-icons {
  margin-right: 4px;
}

.btn:hover,
.btn:active,
.btn:focus {
  cursor: pointer;
}
.btn.btn-transparent {
  padding: 0;
  background-color: transparent;
  color: rgb(var(--main-color-rgb));
}
.btn.btn-transparent:hover {
  background-color: rgba(var(--main-color-rgb), .05);
}
.btn.btn-transparent:focus {
  background-color: rgba(var(--main-color-rgb), .1);
}

.btn.btn-light {
  background-color: rgba(var(--main-color-rgb), .08);
  color: rgb(0, 0, 0);
}
.btn.btn-light:hover {
  background-color: rgba(var(--main-color-rgb), .16);
}
.btn.btn-light:focus {
  background-color: rgba(var(--main-color-rgb), .24);
}

a.btn {
  display: inline-block;
  line-height: 36px;
  padding: 0 16px;
  text-decoration: none;
}

/* Top app bar icon btns */
.top-app-bar--navigation-icon {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: none;
  outline: none;
  outline-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  fill: currentColor;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 50ms ease;
}
  .top-app-bar--navigation-icon:hover {
    background-color: rgba(255,255,255,.09);
  }
  .top-app-bar--navigation-icon:focus {
    background-color: rgba(255,255,255,.18);
  }
  .top-app-bar--navigation-icon:active {
    background-color: rgba(255,255,255,.27);
  }

/* Forms */
.form-group {
  margin-bottom: 16px;
  position: relative;
}
.form-group label {
  display: block;
  color: rgba(0, 0, 0, .8);
  pointer-events: none;
}
.text-field {
  width: 100%;
  height: 54px;
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: 0px;
  box-sizing: border-box;
  font-size: 14px;
}
.text-field:hover {
  border: 1px solid rgba(0, 0, 0, .4);
}
.text-field:focus {
  border: 1px solid rgb(var(--main-color-rgb));
  box-shadow: 0 0 0px 1px rgb(var(--main-color-rgb));
}
.text-field.error {
  border: 1px solid #d50000;
  box-shadow: 0 0 0px 1px #d50000;
}
.form-group div.error {
  display: none;
  font-size: 12px;
  color: #d50000;
  line-height: normal;
}
.form-group div.error.show {
  display: flex;
}
.form-group div.error .material-icons {
  font-size: 14px;
  margin-right: 4px;
}
