<div class="padding-container">
  <h2>
    Welcome back {{userName}}!
  </h2>
  
  <div class="actions">
    <a class="btn btn-blue" routerLink="/editor">Create new post</a>
    <ui-dropdown-btn title="Asd dsa" btnStyleClass="btn btn-blue">
      <a class="dropdown-item" href="#" role="menuitem">Item 1 with long text</a>
      <a class="dropdown-item" href="#" role="menuitem">Item 2</a>
    </ui-dropdown-btn>
  </div>

  <h3 id="yourPosts" aria-hidden="true">Your posts</h3>
  <section class="cards" aria-labelledby="yourPosts">
    <ui-card *ngFor="let post of userPosts" [post]="post">
      <a class="btn btn-light" [routerLink]="'/editor/'+post.id">Edit post</a>
    </ui-card>
  </section>

  <h3 id="latestPosts" aria-hidden="true">Latest posts from other users</h3>
  <section class="cards" aria-labelledby="latestPosts">
    <ui-card *ngFor="let post of latestPosts" [post]="post"></ui-card>
  </section>
</div>
