<div class="padding-container">
  <h2>
    Welcome back {{userName}}!
  </h2>
  
  <div class="actions">
    <a class="btn btn-blue" routerLink="/editor">Create new post</a>
  </div>

  <h3 id="yourPosts" aria-hidden="true">Your posts</h3>
  <ui-dropdown-menu title="Sort by date" icon="sort" btnStyleClass="btn btn-transparent">
    <ui-menu-item (click)="orderUserPosts(true)" label="Modified (newest)"></ui-menu-item>
    <ui-menu-item (click)="orderUserPosts(false)" label="Modified (oldest)"></ui-menu-item>
  </ui-dropdown-menu>
  <section class="cards" aria-labelledby="yourPosts">
    <ui-card *ngFor="let post of postsToView" [post]="post">
      <a class="btn btn-light" [routerLink]="'/editor/'+post.id">Edit post</a>
    </ui-card>
    <div *ngIf="allUserPosts && postsToView && allUserPosts.length > postsToView.length" (click)="showMorePosts($event)" (keydown)="showMorePosts($event)"
        class="card middle" tabindex="0" aria-label="Show more posts..." role="button">
      <h3 class="showmore">Show more posts...</h3>
    </div>
  </section>

  <h3 id="latestPosts" aria-hidden="true">Latest posts from other users</h3>
  <section class="cards" aria-labelledby="latestPosts">
    <ui-card *ngFor="let post of latestPosts" [post]="post"></ui-card>
  </section>
</div>
