<hr>

<h3>Comments</h3>

<div class="new-comment">
  <input #newCommentText (input)="onTextChange()" (focus)="onCreateCommentFocus()" type="text" class="text-field" 
      placeholder="Add new comment..." aria-label="Add new comment">
  <div *ngIf="showCommentBtns" class="comment-btns">
    <button (click)="hideCreateCommentBtns()" class="btn btn-transparent cancel">Cancel</button>
    <button (click)="createComment()" class="btn btn-primary" [attr.disabled]="createCommentBtnDisabled ? '' : null">Comment</button>
  </div>
</div>

<article *ngFor="let comment of comments" class="comment">
  <div class="icon">
    {{comment.userName | getFirstUpperChar}}
  </div>
  <div class="info">
    <span class="name">{{comment.userName}}</span>
    <span class="date">{{comment.dateOfCreation | date:'MMM d, yyyy, h:mm a'}}</span>
    <br>
    <div class="text">{{comment.text}}</div>
  </div>
</article>
